{% load widget_tweaks %}
{% load Filtrospersonalizado %}
<div class="container modal-body">
    <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-12 col-xl-11">
        <div class="text-black">
        <div>
            <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registar</p>

                <form class="mx-1 mx-md-4" method="post" action="">
                    {% csrf_token %}
                    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in form %}
                    {% get_Icon forloop.counter0 as dato %}
                    {% if forloop.last %}
                    <div class="form-check d-flex justify-content-center mb-5">
                        {% render_field field class="form-check-input me-2"  %}
                        <label class="form-check-label" for="{{ field.id_for_label }}"> I agree all statements in <a href="#!">Terms of service</a></label>
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas {{dato}} fa-lg me-3 fa-fw"></i>
                        <div class="form-floating flex-fill mb-0"> 
                            {% render_field field class="form-control" placeholder=field.label %}
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                            <div class="{% if field.errors %} invalid{% endif %}">
                                {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>

                </form>

            </div>
            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>